body {
    background: #eeeeee;
}

form {
    margin-top: 50px;
}

form button {
    width: 100%;
}

.table-responsive {
    background: white;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

td a {
    margin-right: 5px;
    display: inline-block;
}

.copyright {
    font-size: 16px !important;
    margin-top: 150px;
}

th, td {
    padding: 20px !important;
}